*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Times New Roman', Times, serif;
    
}
header{
    background: orange;
    height: 100px;
} 
h1{
    margin-left:25px ;
    font-weight: 50px;
    font-size: 2.5em;
   
}  
  input{
    width: 400px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    float: right;
    border: none;
 }
nav{
    margin-left: 20px;
}
nav ul{
    margin: 0;
    padding: 0;
    float: left;
    display: flex;
    gap: 20px;
}
nav ul li{
        list-style-type: none;
        
}
nav ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}
.btn{
    margin-left:350px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-size: 1.0em;
    border: none;
}
.box{
    display: flex;

}
#container{
    width:700px;
    height: 700px;
    position: relative;
    overflow: hidden;
    background: black;
    border-radius: 0px 0px 20px 20px;
}
img{
    width: 900px;
    height: 600px;
}
#container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;            
    transition: opacity 1s ease-in-out;
}
#container img.active {
    opacity: 1;   
}

section{
     margin: 20px;
    border: 2px solid rgba(97, 96, 96, 0.5);
    border-radius: 20px;
    box-shadow: 10px 12px 12px rgba(80, 79, 79, 0.5);
    height: 250px;
    width: 550px;
    background: rgb(142, 142, 245);
    font-family: bahnschrift light;
    text-align: center;
    padding-top: 50px;
    font-size: 1.1em;
}
.info{
    display: flex;
    justify-content: center;
}
.about:hover{
    background: #fff;
    cursor: pointer;
}
.exper{
    background: rgb(236, 87, 87);
}
.exper:hover{
background: rgb(236, 236, 116);
}
.fade{
    font-family: bahnschrift light;
    font-size: 1.1em;
    text-align: center;
    display: flex;
    background: url("images/background.webp");
    background-size: contain ;
    font-weight: 500px;
    height: 100vh;
}

.deal{
    background: url("images/8.jpg");
    background-size: cover;
}
img.arrow{
    padding:100px 0px 0px 0px;
    display: flex;
}
.group_info{
    color:red;
}



